.AddTodoFormFrame{
    width: 100%;
    height: 15%;
    min-height: 60px;
    max-height: 80px;
    background-color: burlywood;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items:center;
}

.txtInput{
    width: 90%;
    height: 60%;
    background-color: rgb(235,241,246);
    border: none;
    border-radius:30px;
    color: rgb(120,124,139);
}

.addBtn{
    height:32px;
    width:32px;
    background-color: transparent;
    border: none;

    position: absolute;
    align-self: flex-end;
    margin-right: 5%;
}

.addBtnImg{
    height:32px;
    width:32px;
}